services:
  api:
    build: .
    container_name: auth_service_api
    command: poetry run uvicorn src.auth_service.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - .:/auth_service
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:16
    container_name: auth_service_db
    environment:
      POSTGRES_USER: auth
      POSTGRES_PASSWORD: auth
      POSTGRES_DB: auth_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
